#root {
  margin: 20px;
  text-align: center;
}
.App{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  gap: 10px;
}
.card{
  width: 350px;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
  color: #fff;
}

.bg-green {
  background-color: green;
}

.bg-red{
  background-color: red;
}
.bg-pink{
  background-color: pink;
}
.bg-blue{
  background-color: blue;
}
.bg-yellow{
  background-color: yellow;
}

.bulb{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.bg-gray{
  background-color: gray;
}