#root {
  margin: 20px;
  text-align: center;
}
.App{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  gap: 10px;
}
.card{
  width: 350px;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
  color: #fff;
}
.about-me {
  background-color: green;
}

.hobbies{
background-color: red;
}

.free-time{
  background-color: blue;
}

.card-food{
  background-color: pink;
}

.card-technologies{
  background-color: yellow;
}